/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
html, body { margin:0; padding:0; }
html { font-size:14px; line-height:1.618rem; letter-spacing:0.03444691862rem; }
html { font-family:'Roboto', 'Lucida Grande', 'Hiragino Kaku Gothic ProN', '繝偵Λ繧ｮ繝手ｧ偵ざ ProN W3', 'Meiryo', '繝｡繧､繝ｪ繧ｪ', sans-serif; }
a { text-decoration:none; cursor:pointer; transition:all .25s ease-in-out; }
a.active,
a.hover { opacity:0.75; }
html, a { color:#4d4d4d; text-shadow:1px 1px 1px rgba(255, 255, 255, 0.0625); }
img { border:none; max-width:100%; height:auto; }
.ani { transform:scale(1.0); transition:all .25s ease-in-out; }
*/









.mybooklet-w { margin:2.5% 0; }
.mybooklet { position:relative; width:100%;
    -webkit-perspective:2500;
    -moz-perspective:2500;
    -ms-perspective:2500;
    -o-perspective:2500;
    perspective:2500;
}

.mybooklet-page,
.mybooklet-page-flip { position:absolute; left:0; top:0; background-color:#fff; border-radius:8px; }
.mybooklet-page { width:100%; visibility:hidden; }
.mybooklet-page-flip { width:200%; }

.mybooklet-page-flip-w.prevPageA .mybooklet-page-flip,
.mybooklet-page-flip-w.nextPageA .mybooklet-page-flip { position:absolute; left:    0; top:0; }
.mybooklet-page-flip-w.prevPageB .mybooklet-page-flip,
.mybooklet-page-flip-w.nextPageB .mybooklet-page-flip { position:absolute; left:-100%; top:0; }
.mybooklet-page-flip-w.prevPageC .mybooklet-page-flip,
.mybooklet-page-flip-w.nextPageC .mybooklet-page-flip { position:absolute; left:    0; top:0; }
.mybooklet-page-flip-w.prevPageD .mybooklet-page-flip,
.mybooklet-page-flip-w.nextPageD .mybooklet-page-flip { position:absolute; left:-100%; top:0; }

.mybooklet-page-flip-w { position:absolute; top:0; width:50%; overflow:hidden; z-index:2;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
}
.mybooklet-page-flip-w.prevPageA,
.mybooklet-page-flip-w.nextPageA {
    left:0%;
    -webkit-transform-origin:100% 50% 0;
    -moz-transform-origin:100% 50% 0;
    -ms-transform-origin:100% 50% 0;
    -o-transform-origin:100% 50% 0;
    transform-origin:100% 50% 0;
}
.mybooklet-page-flip-w.prevPageB,
.mybooklet-page-flip-w.nextPageB {
    left:50%;
    -webkit-transform-origin:0% 50% 0;
    -moz-transform-origin:0% 50% 0;
    -ms-transform-origin:0% 50% 0;
    -o-transform-origin:0% 50% 0;
    transform-origin:0% 50% 0;
}
.mybooklet-page-flip-w.prevPageC,
.mybooklet-page-flip-w.nextPageC {
    right:50%;
    -webkit-transform-origin:100% 50% 0;
    -moz-transform-origin:100% 50% 0;
    -ms-transform-origin:100% 50% 0;
    -o-transform-origin:100% 50% 0;
    transform-origin:100% 50% 0;
}
.mybooklet-page-flip-w.prevPageD,
.mybooklet-page-flip-w.nextPageD {
    right:0%;
    -webkit-transform-origin:0% 50% 0;
    -moz-transform-origin:0% 50% 0;
    -ms-transform-origin:0% 50% 0;
    -o-transform-origin:0% 50% 0;
    transform-origin:0% 50% 0;
}

@-webkit-keyframes aniPrevPageA {
      0% {
        -webkit-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        -webkit-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@-webkit-keyframes aniPrevPageB {
      0% {
        -webkit-transform:translate3d(0px,0,0.00002px) rotateY(-179.99999deg);
    }
    100% {
        -webkit-transform:translate3d(-0.0px,0,0.00002px) rotateY(-0.00001deg);
    }
}
@-webkit-keyframes aniPrevPageC {
      0% {
        -webkit-transform:translate3d(0.0px,0,0.00002px) rotateY(0.00001deg);
    }
    100% {
        -webkit-transform:translate3d(0px,0,0.00002px) rotateY(179.99999deg);
    }
}
@-webkit-keyframes aniPrevPageD {
      0% {
        -webkit-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        -webkit-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

@-webkit-keyframes aniNextPageA {
      0% {
        -webkit-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        -webkit-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@-webkit-keyframes aniNextPageB {
      0% {
        -webkit-transform:translate3d(0px,0,0.00002px) rotateY(-0.00001deg);
    }
    100% {
        -webkit-transform:translate3d(0.0px,0,0.00002px) rotateY(-179.99999deg);
    }
}
@-webkit-keyframes aniNextPageC {
      0% {
        -webkit-transform:translate3d(0.0px,0,0.00002px) rotateY(179.99999deg);
    }
    100% {
        -webkit-transform:translate3d(0px,0,0.00002px) rotateY(0.00001deg);
    }
}
@-webkit-keyframes aniNextPageD {
      0% {
        -webkit-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        -webkit-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

@-moz-keyframes aniPrevPageA {
      0% {
        -moz-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        -moz-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@-moz-keyframes aniPrevPageB {
      0% {
        -moz-transform:translate3d(0px,0,0.00002px) rotateY(-179.99999deg);
    }
    100% {
        -moz-transform:translate3d(-0.0px,0,0.00002px) rotateY(-0.00001deg);
    }
}
@-moz-keyframes aniPrevPageC {
      0% {
        -moz-transform:translate3d(0.0px,0,0.00002px) rotateY(0.00001deg);
    }
    100% {
        -moz-transform:translate3d(0px,0,0.00002px) rotateY(179.99999deg);
    }
}
@-moz-keyframes aniPrevPageD {
      0% {
        -moz-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        -moz-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

@-moz-keyframes aniNextPageA {
      0% {
        -moz-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        -moz-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@-moz-keyframes aniNextPageB {
      0% {
        -moz-transform:translate3d(0px,0,0.00002px) rotateY(-0.00001deg);
    }
    100% {
        -moz-transform:translate3d(0.0px,0,0.00002px) rotateY(-179.99999deg);
    }
}
@-moz-keyframes aniNextPageC {
      0% {
        -moz-transform:translate3d(0.0px,0,0.00002px) rotateY(179.99999deg);
    }
    100% {
        -moz-transform:translate3d(0px,0,0.00002px) rotateY(0.00001deg);
    }
}
@-moz-keyframes aniNextPageD {
      0% {
        -moz-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        -moz-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}


@-ms-keyframes aniPrevPageA {
      0% {
        -ms-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        -ms-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@-ms-keyframes aniPrevPageB {
      0% {
        -ms-transform:translate3d(0px,0,0.00002px) rotateY(-179.99999deg);
    }
    100% {
        -ms-transform:translate3d(-0.0px,0,0.00002px) rotateY(-0.00001deg);
    }
}
@-ms-keyframes aniPrevPageC {
      0% {
        -ms-transform:translate3d(0.0px,0,0.00002px) rotateY(0.00001deg);
    }
    100% {
        -ms-transform:translate3d(0px,0,0.00002px) rotateY(179.99999deg);
    }
}
@-ms-keyframes aniPrevPageD {
      0% {
        -ms-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        -ms-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

@-ms-keyframes aniNextPageA {
      0% {
        -ms-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        -ms-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@-ms-keyframes aniNextPageB {
      0% {
        -ms-transform:translate3d(0px,0,0.00002px) rotateY(-0.00001deg);
    }
    100% {
        -ms-transform:translate3d(0.0px,0,0.00002px) rotateY(-179.99999deg);
    }
}
@-ms-keyframes aniNextPageC {
      0% {
        -ms-transform:translate3d(0.0px,0,0.00002px) rotateY(179.99999deg);
    }
    100% {
        -ms-transform:translate3d(0px,0,0.00002px) rotateY(0.00001deg);
    }
}
@-ms-keyframes aniNextPageD {
      0% {
        -ms-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        -ms-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

@-o-keyframes aniPrevPageA {
      0% {
        -o-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        -o-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@-o-keyframes aniPrevPageB {
      0% {
        -o-transform:translate3d(0px,0,0.00002px) rotateY(-179.99999deg);
    }
    100% {
        -o-transform:translate3d(-0.0px,0,0.00002px) rotateY(-0.00001deg);
    }
}
@-o-keyframes aniPrevPageC {
      0% {
        -o-transform:translate3d(0.0px,0,0.00002px) rotateY(0.00001deg);
    }
    100% {
        -o-transform:translate3d(0px,0,0.00002px) rotateY(179.99999deg);
    }
}
@-o-keyframes aniPrevPageD {
      0% {
        -o-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        -o-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

@-o-keyframes aniNextPageA {
      0% {
        -o-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        -o-transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@-o-keyframes aniNextPageB {
      0% {
        -o-transform:translate3d(0px,0,0.00002px) rotateY(-0.00001deg);
    }
    100% {
        -o-transform:translate3d(0.0px,0,0.00002px) rotateY(-179.99999deg);
    }
}
@-o-keyframes aniNextPageC {
      0% {
        -o-transform:translate3d(0.0px,0,0.00002px) rotateY(179.99999deg);
    }
    100% {
        -o-transform:translate3d(0px,0,0.00002px) rotateY(0.00001deg);
    }
}
@-o-keyframes aniNextPageD {
      0% {
        -o-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        -o-transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

@keyframes aniPrevPageA {
      0% {
        transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@keyframes aniPrevPageB {
      0% {
        transform:translate3d(0px,0,0.00002px) rotateY(-179.99999deg);
    }
    100% {
        transform:translate3d(-0.0px,0,0.00002px) rotateY(-0.00001deg);
    }
}
@keyframes aniPrevPageC {
      0% {
        transform:translate3d(0.0px,0,0.00002px) rotateY(0.00001deg);
    }
    100% {
        transform:translate3d(0px,0,0.00002px) rotateY(179.99999deg);
    }
}
@keyframes aniPrevPageD {
      0% {
        transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

@keyframes aniNextPageA {
      0% {
        transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
    100% {
        transform:translate3d(0,0,0.00001px) rotateY(0.00001deg);
    }
}
@keyframes aniNextPageB {
      0% {
        transform:translate3d(0px,0,0.00002px) rotateY(-0.00001deg);
    }
    100% {
        transform:translate3d(0.0px,0,0.00002px) rotateY(-179.99999deg);
    }
}
@keyframes aniNextPageC {
      0% {
        transform:translate3d(0.0px,0,0.00002px) rotateY(179.99999deg);
    }
    100% {
        transform:translate3d(0px,0,0.00002px) rotateY(0.00001deg);
    }
}
@keyframes aniNextPageD {
      0% {
        transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
    100% {
        transform:translate3d(0,0,0.00001px) rotateY(-0.00001deg);
    }
}

.mybooklet-page-flip-w.aniPrevPageA,
.mybooklet-page-flip-w.aniPrevPageB,
.mybooklet-page-flip-w.aniPrevPageC,
.mybooklet-page-flip-w.aniPrevPageD,
.mybooklet-page-flip-w.aniNextPageA,
.mybooklet-page-flip-w.aniNextPageB,
.mybooklet-page-flip-w.aniNextPageC,
.mybooklet-page-flip-w.aniNextPageD {
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -ms-transition:all 1s ease;
    -o-transition:all 1s ease;
    transition:all 1s ease;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-timing-function:ease;
    -moz-animation-timing-function:ease;
    -ms-animation-timing-function:ease;
    -o-animation-timing-function:ease;
    animation-timing-function:ease;
    -webkit-animation-iteration-count:1;
    -moz-animation-iteration-count:1;
    -ms-animation-iteration-count:1;
    -o-animation-iteration-count:1;
    animation-iteration-count:1;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
}
.mybooklet-page-flip-w.aniPrevPageA {
    -webkit-animation-name:aniPrevPageA;
    -moz-animation-name:aniPrevPageA;
    -ms-animation-name:aniPrevPageA;
    -o-animation-name:aniPrevPageA;
    animation-name:aniPrevPageA;
}
.mybooklet-page-flip-w.aniPrevPageB {
    -webkit-animation-name:aniPrevPageB;
    -moz-animation-name:aniPrevPageB;
    -ms-animation-name:aniPrevPageB;
    -o-animation-name:aniPrevPageB;
    animation-name:aniPrevPageB;
}
.mybooklet-page-flip-w.aniPrevPageC {
    -webkit-animation-name:aniPrevPageC;
    -moz-animation-name:aniPrevPageC;
    -ms-animation-name:aniPrevPageC;
    -o-animation-name:aniPrevPageC;
    animation-name:aniPrevPageC;
}
.mybooklet-page-flip-w.aniPrevPageD {
    -webkit-animation-name:aniPrevPageD;
    -moz-animation-name:aniPrevPageD;
    -ms-animation-name:aniPrevPageD;
    -o-animation-name:aniPrevPageD;
    animation-name:aniPrevPageD;
}
.mybooklet-page-flip-w.aniNextPageA {
    -webkit-animation-name:aniNextPageA;
    -moz-animation-name:aniNextPageA;
    -ms-animation-name:aniNextPageA;
    -o-animation-name:aniNextPageA;
    animation-name:aniNextPageA;
}
.mybooklet-page-flip-w.aniNextPageB {
    -webkit-animation-name:aniNextPageB;
    -moz-animation-name:aniNextPageB;
    -ms-animation-name:aniNextPageB;
    -o-animation-name:aniNextPageB;
    animation-name:aniNextPageB;
}
.mybooklet-page-flip-w.aniNextPageC {
    -webkit-animation-name:aniNextPageC;
    -moz-animation-name:aniNextPageC;
    -ms-animation-name:aniNextPageC;
    -o-animation-name:aniNextPageC;
    animation-name:aniNextPageC;
}
.mybooklet-page-flip-w.aniNextPageD {
    -webkit-animation-name:aniNextPageD;
    -moz-animation-name:aniNextPageD;
    -ms-animation-name:aniNextPageD;
    -o-animation-name:aniNextPageD;
    animation-name:aniNextPageD;
}

.mybooklet-page-i { padding:5.8%; font-size:15.5px; line-height:26px; }
.mybooklet-page-i img { max-width:100%; height:auto; }
.mybooklet-page-i ol { -webkit-padding-start:25px; -webkit-margin-before:0; -webkit-margin-after:0; }
.mybooklet-page-i-answer { background-color:#f6f6f6; border-radius:0 0 8px 8px; padding-top:82px; }
.mybooklet-page-i-answer { display:none; }

.mybooklet-page-i .sq { font-family: ＭＳ Ｐゴシック, MS PGothic, sans-serif; }
.mybooklet-page-i ol.dec li,
.mybooklet-page-i ul.dec li { list-style: decimal; }
    
.mybooklet-page-i .q-title > .table { display:table; border-collapse:collapse; /*width:100%;*/ }
.mybooklet-page-i .q-title > .table > .tbody { display:table-row-group; }
.mybooklet-page-i .q-title > .table > .tbody > .tr { display:table-row; }
.mybooklet-page-i .q-title > .table > .tbody > .tr > .td { display:table-cell; vertical-align:middle; font-size:27px; line-height:40px; font-weight:bold; padding:16px 12px; }
.mybooklet-page-i .q-title > .table > .tbody > .tr > .td img { vertical-align:middle; }

.mybooklet-page-i .mybooklet-page-aaa { font-weight:bold; padding-top:52px; }
.mybooklet-page-i .mybooklet-page-aaa a { color: initial; }
.mybooklet-page-i .mybooklet-page-aaa .nomal { font-weight:normal; }
.mybooklet-page-i .mybooklet-page-aaa a { text-decoration: underline; }

.mybooklet-page-i .mybooklet-page-bbb { padding-top:26px; }
.mybooklet-page-i .mybooklet-page-bbb > .table { display:table; border-collapse:collapse; border:1px solid #000; }
.mybooklet-page-i .mybooklet-page-bbb > .table > .tbody { display:table-row-group; }
.mybooklet-page-i .mybooklet-page-bbb > .table > .tbody > .tr { display:table-row; }
.mybooklet-page-i .mybooklet-page-bbb > .table > .tbody > .tr > .td { display:table-cell; vertical-align:middle; padding:16px 12px; }
.mybooklet-page-i .mybooklet-page-bbb > .table > .tbody > .tr > .td:first-child { font-weight:bold; background-color:#000; color:#f9eb49; padding:16px 0; width:80px; text-align:center; }

.mybooklet-page-i .mybooklet-page-ccc { padding-top:10px; }
.mybooklet-page-i .mybooklet-page-ccc > .table { display:table; border-collapse:collapse; width:100%; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody { display:table-row-group; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody > .tr { display:table-row; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody > .tr > .td { display:table-cell; vertical-align:middle; padding:16px 12px; width:50%; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody > .tr > .td:first-child { padding-left:0; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody > .tr > .td:first-child ol { font-weight:bold; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody > .tr > .td:first-child .img { background-size:contain; background-position:center; background-repeat:no-repeat; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody > .tr > .td:last-child { padding-right:0; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody > .tr > .td:last-child .img { background-size:contain; background-position:center; background-repeat:no-repeat; }
.mybooklet-page-i .mybooklet-page-ccc > .table > .tbody > .tr > .td.vt { vertical-align:top; }

.mybooklet-page-i .mybooklet-page-ddd { padding-top:18px; }

.mybooklet-page-i .mybooklet-page-eee { font-weight:bold; padding-top:26px; }

.mybooklet-page-i .mybooklet-page-open-w,
.mybooklet-page-i .mybooklet-page-close-w { text-align:center; padding:20px; }
.mybooklet-page-i .mybooklet-page-open-w a,
.mybooklet-page-i .mybooklet-page-close-w a { display:inline-block; }
.mybooklet-page-i .mybooklet-page-open-w img,
.mybooklet-page-i .mybooklet-page-close-w img { width:100%; max-width:320px; height:auto; }

.mybooklet-page-i .mybooklet-page-fff { padding-top:26px; }
.mybooklet-page-i .mybooklet-page-fff ol.mrgn li { padding-bottom: 36px; }
.mybooklet-page-i .mybooklet-page-fff ol.indent { -webkit-padding-start:0; }
.mybooklet-page-i .mybooklet-page-fff ol.indent li { text-indent: 1em; }

.mybooklet-page-i .mybooklet-page-ggg { padding-top:10px; }
.mybooklet-page-i .mybooklet-page-ggg > .table { display:table; border-collapse:collapse; width:100%; }
.mybooklet-page-i .mybooklet-page-ggg > .table > .tbody { display:table-row-group; }
.mybooklet-page-i .mybooklet-page-ggg > .table > .tbody > .tr { display:table-row; }
.mybooklet-page-i .mybooklet-page-ggg > .table > .tbody > .tr > .td { display:table-cell; vertical-align:middle; padding:16px 12px; width:50%; }
.mybooklet-page-i .mybooklet-page-ggg > .table > .tbody > .tr > .td:first-child { padding-left:0; }
.mybooklet-page-i .mybooklet-page-ggg > .table > .tbody > .tr > .td:first-child ol {}
.mybooklet-page-i .mybooklet-page-ggg > .table > .tbody > .tr > .td:last-child { padding-right:0; }
.mybooklet-page-i .mybooklet-page-ggg > .table > .tbody > .tr > .td:last-child .img { background-size:contain; background-position:center; background-repeat:no-repeat; }
.mybooklet-page-i .mybooklet-page-ggg > .table > .tbody > .tr > .td ul.indent li { text-indent: 1em; }

.mybooklet-page-i .mybooklet-page-hhh { padding-top:10px; }
.mybooklet-page-i .mybooklet-page-hhh > .table { display:table; border-collapse:collapse; width:100%; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody { display:table-row-group; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody > .tr { display:table-row; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody > .tr > .td { display:table-cell; vertical-align:middle; padding:16px 0; width:25%; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody > .tr > .lg { width:50%; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody > .tr > .td:first-child { padding-left:0; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody > .tr > .td:first-child ol { font-weight:bold; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody > .tr > .td:last-child { padding-right:0; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody > .tr > .td .img { background-size:contain; background-position:center; background-repeat:no-repeat; }
.mybooklet-page-i .mybooklet-page-hhh > .table > .tbody > .tr > .td.vt { vertical-align:top; }

.mybooklet-page-i .mybooklet-page-iii { padding-top:32px; }

.mybooklet-page-i .mybooklet-page-jjj { padding-top:26px; }
.mybooklet-page-i .mybooklet-page-jjj-inner { background-color:#fff; padding:20px; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table { display:table; border-collapse:collapse; width:100%; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody { display:table-row-group; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody > .tr { display:table-row; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody > .tr > .td { display:table-cell; vertical-align:middle; padding:16px 12px; width:50%; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody > .tr > .td:first-child { padding-left:0; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody > .tr > .td:first-child ol { font-weight:bold; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody > .tr > .td:last-child { padding-right:0; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody > .tr > .td .img { background-size:contain; background-position:center; background-repeat:no-repeat; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody > .tr > .td.vt { vertical-align:top; }
.mybooklet-page-i .mybooklet-page-jjj-inner > .table > .tbody > .tr > .td.vb { vertical-align:bottom; }

.mybooklet-page-i .mybooklet-page-kkk { padding-top:10px; }
.mybooklet-page-i .mybooklet-page-kkk > .table { display:table; border-collapse:collapse; width:100%; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody { display:table-row-group; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr { display:table-row; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr > .td { display:table-cell; vertical-align:middle; padding:16px 0; width:30%; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr > .lg { width:70%; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr > .td:first-child { padding-left:0; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr > .td:first-child ol {}
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr > .td:last-child { padding-right:0; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr > .td .img { background-size:contain; background-position:center; background-repeat:no-repeat; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr > .td.vt { vertical-align:top; }
.mybooklet-page-i .mybooklet-page-kkk > .table > .tbody > .tr > .td.vb { vertical-align:bottom; }
.mybooklet-page-i .mybooklet-page-kkk ol.mrgn li { padding-bottom: 36px; }

.mybooklet-page-i .mybooklet-page-commentary { padding-top:40px; }
.mybooklet-page-i .mybooklet-page-commentary-wrapper { padding-top:7%;/*50px;*/ position: relative; }
/*
.mybooklet-page-i .mybooklet-page-commentary::before { position:absolute; content:url('../img/question-2017-commentary-check.png'); width:100%; top:0; left:0;  }
*/
.mybooklet-page-i .mybooklet-page-commentary-wrapper::before { position:absolute; content:' '; width:100%; top:0; background-image: url('../img/question-2017-commentary-check.png'); background-size:contain; background-repeat: no-repeat; background-position: center top; }
    .mybooklet-page-i .q3 .mybooklet-page-commentary-wrapper::before { padding-top:14%; }
    .mybooklet-page-i .q10 .mybooklet-page-commentary-wrapper::before { padding-top:14%; }
    .mybooklet-page-i .q11 .mybooklet-page-commentary-wrapper::before { padding-top:14%; }
/*
@media (min-width: 875px) {
    .mybooklet-page-i .mybooklet-page-commentary-wrapper::before { height:22%; }
}
@media (min-width: 480px) and (max-width: 875px) {
    .mybooklet-page-i .mybooklet-page-commentary-wrapper::before { height:18%; }
}
@media (max-width: 480px) {
    .mybooklet-page-i .mybooklet-page-commentary-wrapper::before { height:12%; }
}
*/
.mybooklet-page-i .mybooklet-page-commentary-inner { padding:6% 8%; background-color:#EEEEEE; border-radius:8px; }
.mybooklet-page-i .mybooklet-page-commentary-inner .note { padding-top:38px; }

.mybooklet-page-i .a-title { position:relative; font-size:27px; line-height:40px; font-weight:bold; text-align:center; }
.mybooklet-page-i .a-title::before { position:absolute; content:''; width:100%; height:2px; top:19px; left:0; background-color:#4d4d4d; }
.mybooklet-page-i .a-title > div { position:relative; display:inline-block; background-color:#f6f6f6; padding:0 20px; }

.mybooklet-page-i pre { display:block; font-family:monospace; margin-top:26px; margin-bottom:15px; white-space:pre-wrap; word-wrap:break-word; }
.mybooklet-page-i code { display:block; background-color:#fff; border:#f6f6f6 1px solid; padding:20px; }

.pager { text-align:center; }
.pager a { display:inline-block; text-decoration:none; width:66px; padding:19px 0; background-color:#000; }
.pager a.active { background-color:#fff; }
.pager-upper a { border-radius:8px 8px 0 0; }
.pager-lower a { border-radius:0 0 8px 8px; }

.mybooklet-page-i.mybooklet-page-i-answer { background-color:#f6f6f6; }
.mybooklet.open .mybooklet-page-i.mybooklet-page-i-answer { background-color:#f6f6f6; }
.mybooklet.open .mybooklet-page,
.mybooklet.open .mybooklet-page-flip { background-color:#f6f6f6; }
.mybooklet.open .mybooklet-page-i { background-color:#fff; }

@media screen and (min-width: 870px) {
    .sp-br-1 { display:none; }
    .sp-br-2 { display:none; }
}
@media screen and (min-width:500px) and (max-width: 869px) {
    .sp-br-1 { display:none; }
    .pager.pager-upper { padding-bottom:22px; }
    .pager.pager-lower { padding-top:22px; }
    .pager a { border-radius:8px; margin:2px 0; }
}
@media screen and (min-width:240px) and (max-width: 499px) {
    .sp-br-2 { display:none; }
    .pager.pager-upper { padding-bottom:22px; }
    .pager.pager-lower { padding-top:22px; }
    .pager a { border-radius:8px; margin:2px 0; }
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
